@rem:45rem;
html{
    width:100%;
    height:100%;
    overflow:hidden;
}
body{
    width:100%;
    height:100%;
    overflow:auto;
}
.clear:after{
    content:'';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
}
a{
    text-decoration:none;
    color:#000;
}
p,ul,li,dt,dd,h3,h4,dl{
    margin:0;
    padding:0;
}
ul,li{
    list-style:none;
}
img{
    display:block;
    border:0;
}
body{
    margin:0;
    font-family:"微软雅黑";
}
#top{
    z-index:2;
    width:720/@rem;
    height:80/@rem;
    background:#fff;
    border-bottom:1/@rem solid #efefef;
    padding-top:12/@rem;
    position:fixed;
    top:0/@rem;
    left:0/@rem;
}
#top h3 img{
    width:96/@rem;
    height:64/@rem;
}
#top h3{
    float:left;
    margin-left:32/@rem;    
}
#nav{
    float:right
}
#nav li{
    float:left;
    font-size:28/@rem;
    line-height:64/@rem;
    margin-right:38/@rem;
}
#nav li:nth-of-type(1){
    color:#3478c9;
}
#nav li:nth-of-type(2){
    color:#9a8073;
}
#nav li:nth-of-type(3){
    color:#c9c81e;
}
#nav li:nth-of-type(4){
    color:#51fff7;
}
#hunt{
    margin-top:16/@rem;
}
#hunt img{
    width:54/@rem;
    height:48/@rem;
}
#page{
    padding-top:93/@rem;
}
#con{
    margin:0/@rem 39/@rem;
}
#nomic{
    margin-top:54/@rem;
}
#nomic li{
    float:left;
    width:309/@rem;
    color:#000;
    font-size:28/@rem;
    text-align:center;
    padding:6/@rem;
}
#nomic li a{
    display:block;
    height:86/@rem;
    line-height:86/@rem;
    background:#f6f6f6;
}
.show{
    display:block;
    border-bottom:1/@rem solid #e0e0e0;
    padding-bottom:55/@rem;
    padding-top:45/@rem;
}
.show dl dd{
    float:left;
    width:435/@rem;
}
.show dl dd h4{
    font-size:32/@rem;
    color:#000;
    font-weight:normal;
    line-height:46/@rem;
}
.show dl dd p{
    font-size:24/@rem;
    color:#a6a6a6;
    line-height:34/@rem;
    margin-top:16/@rem;
}
.show dl dt{
    float:right;
    margin-top:3/@rem;
}
.show dl dt img{
    width:166/@rem;
    height:166/@rem;;
}
.lito{
    color:#cccccc;
    margin-top:25/@rem;
    font-size:24/@rem;
    line-height:24/@rem;
}
.lito p:nth-of-type(1){
    float:left;
}
.lito p:nth-of-type(2){
    float:right;
}
.list{
    margin-top:6/@rem;
}
.scenic div:nth-of-type(1) img{
    width:481/@rem;
    height:312/@rem;
}
.scenic div:nth-of-type(1){
    float:left;
    margin-bottom:8/@rem;
}
.scenic div:nth-of-type(2){
    float:right;
    width:152/@rem;
}
.scenic div:nth-of-type(2) img{
    width:152/@rem;
    height:152/@rem;
}
.scenic div:nth-of-type(2) div:nth-of-type(2){
    position:relative;
}
.shade{
    width:152/@rem;
    height:152/@rem;
    background:#000;
    opacity:0.5;
    position:absolute;
    top:0;
    left:0;
}
.pdt{
    font-size:20/@rem;
    color:#fff;
    position:absolute;
    line-height:20/@rem;
    top:56/@rem;
    width:152/@rem;
    text-align:center;
}
.show dl .long{
    width:100%;
}
