@rem:67.5rem;
.registration{
  width:960/@rem;
  padding:0/@rem 60/@rem;
  padding-top:17/@rem;
}
.registration_welcome{
  font-size:110/@rem;
  font-weight:300;
  line-height:325/@rem;
  color:#42bd56;
  text-align:center;
}
.regloginput{
  display:block;
  padding:0/@rem;
  border:3/@rem solid #d7d7d7;
  height:132/@rem;
  width:922/@rem;
  border-bottom:0;
  font-size:48/@rem;
  line-height:132/@rem;
  padding-left:32/@rem;
}
.regloginputBorder{
  border-bottom:3/@rem solid #d7d7d7;
}
.regloginputBtn{
  font-size:44/@rem;
  line-height:132/@rem;
  height:132/@rem;
  color:#fff;
  background:#42bd56;
  width:960/@rem;
  border:0;
  padding:0;
  border-radius:10/@rem;
  margin-top:30/@rem;
}
.reglogP{
  font-size:40/@rem;
  line-height:144/@rem;
  color:#ccc;
  width:954/@rem;
  text-align:center;
}
.reglogPCb{
  font-size:46/@rem;
  width:954/@rem;
  text-align:center;
  color:#42bd56;
  line-height:50/@rem;
  margin-top:66/@rem;
}
.login_title{
  font-size:52/@rem;
  line-height:135/@rem;
  text-align:center;
  border-bottom:3/@rem solid #eee;
}
.login_cancel{
  position:absolute;
  font-size:42/@rem;
  color:#42bd56;
  left:56/@rem;
  font-weight:normal;
}
.login_input{
  width:958/@rem;
  height:126/@rem;
  border:3/@rem solid #ccc;
  padding:0;
  font-size:48/@rem;
  line-height:126/@rem;
  padding-left:26/@rem;
}
.login_input:nth-of-type(1){
  border-bottom:0;
}
.login_accounts{
  padding:45/@rem;
  margin-top:30/@rem;
}
.login_inputBtn{
  width:990/@rem;
  height:135/@rem;
  line-height:135/@rem;
  text-align:center;
  color:#fff;
  background:#17AA52;
  border-radius:10/@rem;
  font-size:45/@rem;
  margin-top: 30/@rem;
}
.login_inputP{
  font-size:42/@rem;
  text-align:center;
  color:#42bd56;
  line-height:60/@rem;
  margin-top:150/@rem;
}
.registrationT{
  border-bottom:3/@rem solid #e4e4e4;
  text-align:center;
  position:relative;
}
.registrationT span{
  font-size:44/@rem;
  line-height:144/@rem;
  color:#000;
}
.registrationT p{
  position:absolute;
  right:86/@rem;
  font-size:44/@rem;
  line-height:144/@rem;
  top:0/@rem;
  color:#42bd56;
}
.registrationT_bookPadding{
  padding-left:62/@rem;
  padding-right:84/@rem;
}
.registrationT_bookFirst{
  height:234/@rem;
  line-height:234/@rem;
  font-size:40/@rem;
  border-bottom:1/@rem solid #e4e4e4;
  position:relative;
}
#input-file{
  width:1080/@rem;
  height:234/@rem;
  opacity:0;
  display:block;
  position:absolute;
  top:0;
  left:0;
}
.enter{
  display:block;
  float:right;
  width:20/@rem;
  height:20/@rem;
  border-top:4/@rem solid #ccc;
  border-right:4/@rem solid #ccc;
  transform:rotate(45deg);
  margin-top:54/@rem;
}
.registrationT_bookFirst img{
  width:132/@rem;
  height:132/@rem;
  float:right;
  margin-top:50/@rem;
  margin-right:55/@rem;
}
.registrationT_bookFirst p:nth-of-type(1){
  float:left;
  color:#9b9b9b;
}
.registrationT_bookFirst p:nth-of-type(2){
  margin-top:100/@rem;
}
.registrationT_bookFirstOne{
  height: 144/@rem;
  line-height:144/@rem;
  border-bottom:1/@rem solid #e4e4e4;
}
.registrationT_bookFirstOne p:nth-of-type(1){
  color:#9b9b9b;
  font-size:40/@rem;
  float:left;
}
.registrationT_bookFirstOne input{
  float:left;
  font-size:40/@rem;
  width:750/@rem;
  display:block;
  height:144/@rem;
  line-height:144/@rem;
  padding:0;
  outline:none;
  border:0;
  margin-left: 65/@rem;
  // border:0;
}
.textarea{
  float:left;
  font-size:40/@rem;
  margin-top:42/@rem;
  width:750/@rem;
  display:block;
  line-height:60/@rem;
  margin-left: 65/@rem;
  outline:none;
  margin-bottom:42/@rem;
}
.heightAuot{
  min-height:288/@rem;
  height:auto;
  background:#fff;
  margin-top:50/@rem;
}
.registrationT_bookSex{
  float:left;
  font-size:40/@rem;
  line-height:144/@rem;
  margin-left:65/@rem;
  color:#000;
}
.registrationT_bookList li:nth-last-of-type(1){
  margin-top:45/@rem;
}
.registrationT_bookList{
  background:#f2f1ee;
  padding-bottom:300/@rem;
}
.registrationT_bookList li{
  background:#fff;
}
.mask{
  width:1280/@rem;
  height:1500/@rem;
  background:#000;
  opacity:0.5;
  position:absolute;
  left:0/@rem;
  top:0/@rem;
  display:none;
}
.sexBox{
  position:absolute;
  left:76/@rem;
  top:624/@rem;
  width:930/@rem;
  background:#fff;
  padding:28/@rem 0/@rem;
  border-radius:20/@rem;
  display:none;
}
.sexBox li{
  font-size:46/@rem;
  line-height:142/@rem;
  color:#000;
  padding-left:75/@rem;
}
.birthdayBox{
  width:588/@rem;
  height:815/@rem;
  background:#fff;
  position:absolute;
  left:183/@rem;
  top:429/@rem;
  border-radius:20/@rem;
  padding:0 63/@rem;
  padding-top:52/@rem;
  display:none;
}
.birthdayBox_top{
  font-size:56/@rem;
  color:#000;
  line-height:86/@rem;
}
.birthdayBoxList{
  position:relative;
  top:-180/@rem;
  width:192/@rem;
  margin-right:6/@rem;
}
.birthdayBox div ul:nth-last-of-type(1){
  margin:0;
}
.birthdayBoxList li{
  line-height:180/@rem;
  font-size:48/@rem;
  text-align:center;
}
.birthdayBox_blueH{
  width:192/@rem;
  height:6/@rem;
  background:#69c6e7;
  position:absolute;
}
.birthdayBox_changeday div:nth-last-of-type(6){
  top:327/@rem;
  left:63/@rem;
}
.birthdayBox_changeday div:nth-last-of-type(5){
  top:327/@rem;
  left:261/@rem;
}
.birthdayBox_changeday div:nth-last-of-type(4){
  top:327/@rem;
  left:459/@rem;
}
.birthdayBox_changeday div:nth-last-of-type(3){
  top:477/@rem;
  left:63/@rem;
}
.birthdayBox_changeday div:nth-last-of-type(2){
  top:477/@rem;
  left:261/@rem;
}
.birthdayBox_changeday div:nth-last-of-type(1){
  top:477/@rem;
  left:459/@rem;
}
.birthdayBox_chioce p{
  float:right;
  font-size:40/@rem;
  line-height:70/@rem;
  color:#009688;
}
.birthdayBox_chioce p:nth-of-type(1){
  margin-left:30/@rem;
}
.birthdayBox_chioce p:nth-of-type(2){
  margin-left:112/@rem;
}
.birthdayBox .birthdayBox_chioce{
  position:absolute;
  bottom:60/@rem;
  right:64/@rem;
}
.birthdayBoxListOut{
  position:absolute;
  overflow:hidden;
  top:0/@rem;
  left:0/@rem;
}
.birthdayBox_changeday div:nth-of-type(1),.birthdayBox_changeday div:nth-of-type(2),.birthdayBox_changeday div:nth-of-type(3){
  top:138/@rem;
  height:540/@rem;
  overflow:hidden;
}
.birthdayBox_changeday div:nth-of-type(1){
  left:63/@rem;
}
.birthdayBox_changeday div:nth-of-type(2){
  left:261/@rem;
}
.birthdayBox_changeday div:nth-of-type(3){
  left:459/@rem;
}
.personal_movieTop div{
  float:left;
  width:50%;
  line-height:133/@rem;
  height:133/@rem;
  color:#aaaaaa;
  font-size: 42/@rem;
  text-align:center;
  border-bottom:6/@rem solid #fff;
}
.personal_movieTop{
  border-top:3/@rem solid #f3f3f3;
}
.personal_movieTop .personal_movieTopActive{
  border-color:#42bd56;
}
